<% provide(:title, "Basket Receipt") %>
<p>
  <%= "Receipt for basket: #{@basket.name}" %> <br>
  <% @receipt.line_items.each do |line_item| %>
    <%= line_item %> <br>
  <% end %>
  <%= @receipt.print_sales_tax %> <br>
  <%= @receipt.print_total %>
</p>

<%= link_to 'Back', baskets_path %>
